@page
@model ContosoCrafts.WebSite.Pages.Product.IndexModel
@{
    ViewData["Title"] = "Index page";
}

<div class="container">
    <button type="button" class="btn-read" onclick="window.location.href='@Url.Page("Create")'">Host Website!</button>
    <br><br>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model.Products)
            {
                <tr>
                    <td>@product.Title</td>
                    <td>
                        <button class="btn-read" onclick="window.location.href='@Url.Page("Read", new { id = product.Id })'">Read</button>&nbsp; &nbsp;
                        <a asp-page="Update" asp-route-id="@product.Id" class="btn btn-info" onclick="window.location.href='@Url.Page("Update", new { id = @product.Id})'">Update</a> &nbsp; &nbsp;
                        <a asp-page="Delete" asp-route-id="@product.Id" class="btn btn-danger" onclick="window.location.href='@Url.Page("Delete", new { id = @product.Id})'">Delete</a> &nbsp; &nbsp;
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>