@page "{id}"

@using ContosoCrafts.WebSite.Services
@using ContosoCrafts.WebSite.Components

@inject JsonFileProductService ProductService

@model ReadModel

@{

    ViewData["Title"] = "Read page";

}

<h1>Read</h1>

<div class="container">
    <h5 class="title" id="productTitle">@Model.Product.Title</h5>
    <img class="card-img" src="@Model.Product.Image" alt='Image for @Model.Product.Title'>
    <p class="card-text">@Model.Product.Description</p>
</div>

<br />

<div class="row">
    <a asp-page="Update" asp-route-id="@Model.Product.Id" class="btn btn-info" onclick="window.location.href='@Url.Page("Update", new { id = @Model.Product.Id})'">Update</a> &nbsp; &nbsp;
    @(await Html.RenderComponentAsync<DeleteConfirmation>(RenderMode.ServerPrerendered, new { productId = Model.Product.Id }))
</div>

